<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdw.fmis.account.mapper.AccountBankCardMapper" >
  <resultMap id="BaseResultMap" type="com.tdw.fmis.account.entity.AccountBankCard" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="account_bank_id" property="accountBankId" jdbcType="CHAR" />
    <result column="account_id" property="accountId" jdbcType="CHAR" />
    <result column="bank_card_no" property="bankCardNo" jdbcType="VARCHAR" />
    <result column="open_bank" property="openBank" jdbcType="VARCHAR" />
    <result column="open_sub_bank" property="openSubBank" jdbcType="VARCHAR" />
    <result column="bank_province" property="bankProvince" jdbcType="VARCHAR" />
    <result column="bank_city" property="bankCity" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status_flag" property="statusFlag" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="main_flag" property="mainFlag" jdbcType="INTEGER" />
    <result column="cunguan_flag" property="cunguanFlag" jdbcType="INTEGER" />
  </resultMap>
</mapper>